<!DOCTYPE html>
<html>

<head>
  {{> ../node_modules/liquidx-base/_header.hbs }}
  <title>ml photo booth - liquidx</title>
</head>

<body>
  <header class="mini">
    <span class="here">ml photo booth</span>
  </header>
  <div id="page">
    {{> ./mlphotobooth.hbs }}
  </div>
</body>
{{> ../node_modules/liquidx-base/_footer.hbs }}

</html>